html,
body {
    background-color: #ccc !important;
}

div.container {
    background-color: white;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    width: 95%;

}

div.single_task {
    margin: 10px;
    display: block;
}

div.update_task {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 2fr;
    column-gap: 10px;
}

div.update_task label {
    padding: 25% 0;
}

div.update_task #id_status {
    margin: 15% 0 0 0 !important;
}

input {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0 !important;
}