{% extends 'base.html' %} {% block content %}
<h1>Todo List</h1>

<form action="" method="POST" action="/">
    {% csrf_token %}
    {{form.description}}
    <input class="btn btn-lg btn-info" type="submit" value="Add Todo">
</form>


{% for task in tasks %}
<hr>

<div class="single_task">
    <!-- Task -->
    {% if task.status == True %}
    <s>
        <a href="{% url 'un_complete_task' task.id %}" class="text-reset">{{ task.description }}</a>
    </s>
    {% else %}
    <a href="{% url 'complete_task' task.id %}" class="text-reset">{{ task.description }}</a>
    {% endif %}

    <a class="btn btn-sm btn-warning float-right" href="{% url 'delete_task' task.id %}">Delete</a>

</div>

{% endfor %}
<hr style="border: 0;">
{% endblock %}