{% extends 'base.html' %} {% block content %}
<h1>Todo List</h1>

<form action="" method="POST" action="/">
    {% csrf_token %}
    {{form.description}}
    <input class="btn btn-sm btn-info" type="submit" value="Add Todo">
</form>


{% for task in tasks %}
<hr>
<div class="single_task">
    <!-- Task -->
    {% if task.status == True %}
    <s>
        <a href="{% url 'uncomplete_task' task.id %}" class="text-reset">{{ task.description }}</a>
    </s>
    {% else %}
    <a href="{% url 'complete_task' task.id %}" class="text-reset"><span>{{ task.description }}</a>
    {% endif %}
    <a href="{% url 'delete_task' task.id %}">
        <button type="button" class="btn btn-sm btn-warning w-100">
            Delete
        </button>
    </a>
</div>

{% endfor %}
{% endblock %}